button{
  margin:10px;
  position:absolute;
  left:50%;
  top:8%;
}
h1{
  position:absolute;
  left:43%;
  font-size:30px;
}
#play-grid
{
  position:absolute;
  top:15%;
  left:30%;
  background-color: white;

}
body{
  background-color: rgba(0,0,0,0.2);
}
